@model IEnumerable<Mapping_Solution.Models.MapDetagSubarnMasterDetail>

@{
    ViewBag.Title = "MAP DETAG SUBARN MASTER";
    ViewBag.page_id = "43";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5>MAP DETAG SUBARN MASTER</h5>
    </div>
</div>
<hr id="arn-master-firsthr">
<div class="row">
    <div class="col-md-12">
        <table class="row pt-3" id="step1">
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" id="select3"></td>
                    <td>
                        @Html.DropDownList("SelectQuarter", ViewBag.Quarter as SelectList, "Select Quarter", new { @class = "form-select", id = "select1" })

                        @*<select class="form-select" id="select1">
                                <option>Select Quarter</option>
                                <option value="202353">2022-23-Q1</option>
                                <option value="202354">2022-23-Q2</option>
                                <option value="202355">2022-23-Q3</option>
                                <option value="202356">2022-23-Q4</option>
                            </select>*@
                    </td>
                    <td>
                        @Html.DropDownList("ArnNo", ViewBag.arnno as SelectList, "Select ARN NUMBER", new { @class = "form-select", id = "select2" })

                        @*<select class="form-select" id="select2">
                                <option>Select ARN NUMBER</option>
                                <option value="1">ARN-47791</option>
                                <option value="2">ARN-59563</option>
                                <option value="3">ARN-13549</option>
                                <option value="4">ARN-0005</option>
                                <option value="5">ARN-70892</option>
                                <option value="6">ARN-29345</option>
                                <option value="7">ARN-0018</option>
                                <option value="8">ARN-77404</option>
                                <option value="9">ARN-82601</option>
                                <option value="10">ARN-168440</option>
                                <option value="11">ARN-46961</option>
                            </select>*@
                    </td>
                    <td><a href="#" id="btn_search1" name="btnsearch" class="btn btn-primary w-30">Search</a></td>
                </tr>
            </tbody>
        </table>



        <hr id="arn-master-secondhr">
        <div class="row pt-2">
            <div class="col-md-6">



            </div>
            <div class="col-md-6">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 270px;"><i class="fa fa-solid fa-download"></i></button>
                <ul class="dropdown-menu">
                    <li><button id="btnExport" class="dropdown-item" type="button">Excel</button></li>
                </ul>
            </div>
        </div>
        <div class="overflow-auto" id="TableData">
            @Html.Partial("_MapDetagSubarnMasterView", Model)

        </div>
    </div>
</div>

<script src="~/Scripts/table2excel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#tblMapDetagSubarnMaster').DataTable({
            searching: false,

        });


        $("#btn_search1").click(function () {
            let obj = {}

            let arnno = $("#select2").val();
            let searchText = $("#select3").val();
            let slctQurater = $("#select1").val();

            obj.arn_no = arnno;
            obj.search_text = searchText;
            //obj.quarter = slctQurater;


            $("#TableData").show();
            $.ajax({
                url: "/MapDetagSubarnMaster/_MapDetagSubarnMasterView",
                type: "get",
                data: obj,
                dataType: "html",
                success: function (result) {
                    $("#TableData").html(result);
                    table = $('#tblMapDetagSubarnMaster').DataTable({ searching: false, });
                },
                error: function (xhr) {
                    if (xhr.status === 401) {
                        window.location.reload();
                        return;
                    }
                    $("#TableData").hide();
                }

            });

        });
        $("#btnExport").click(function () {
            $("#tblMapDetagSubarnMaster").table2excel({
                filename: "MapDetagSubarnMasterTable.xls"

            });
        });
    });

</script>


