
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-12">
            <h5>Mapping Status Report</h5>
            <form>
                <hr>
                <div class="row pt-3">
                    <div class="form-group col-md-3 mb-3">
                        <form class="demo-example">
                            <label>Channel Code</label>
                            <td>
                                <select class="form-select">
                                    <option>--select--</option>
                                    <option>RTL</option>
                                    <option>INST</option>
                                </select>
                            </td>
                            </select>
                        </form>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label>From Date</label>
                        <input type="datetime-local" id="startDate" name="start_Date" class="form-control" />
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label>To Date</label>
                        <input type="datetime-local" id="startDate" name="start_Date" class="form-control" />
                    </div>
                    <div class="col-md-3 mt-3"><a href="#" id="btn_search" name="btnsearch" class="btn btn-primary w-50">Search</a></div>
                </div>
            </form>
            <hr>
            <div class="overflow-auto">
                @Html.Partial("_MappingStatusReportView")
                </div>